* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    background-color: #131619;
    padding: 15px;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    margin-left: 176px;
    margin-top: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.MyIdea {
    margin-bottom: 26px;
}

.MyIdea > p{
    color: #F08080;
    font-family: "Plus Jakarta Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 10px;
}

.comment-form{
    width: 100%;
    height: 191px;
    border-radius: 15px;
    border: 1px solid var(--, #F08080);
    box-shadow: 0px 4px 4px 0px #F08080;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    margin-bottom: 50px;

}
.comment-form > input {
    width: 95%;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    text-align: left;
    margin-bottom: 110px;
    padding: 12px;
}
.comment-form>div>button{
    width: 52px;
    color: #1A1D21;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    background-color: #F08080;
    border-radius: 5px;
    border: none;
}
.comment-form>div{
    width: 100%;
    justify-content: end;
    display: flex;
    padding: 12px
}


.example {
    display: flex;
    height: 109px;
    flex-direction: column;
    align-self: stretch;
    border-radius: 15px;
    background: #1A1D21;
    margin-bottom: 26px;
}

.example > div:nth-child(1) {
    margin: 0px 15px    ;
}

.example > div:nth-child(1) > p{
    padding: 10px;
    color: #D9D9D9;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.example-item {
    display: flex;
    width: 800px;
    align-items: center;
    margin: 5px 20px;
    justify-content: space-between;
}


.example > div:nth-child(2) > div:nth-child(1), .example > div:nth-child(2) > div:nth-child(2), .example > div:nth-child(2) > div:nth-child(3) {
    justify-content: center;
    display: flex;
    width: 230px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #F08080;
    background: #1A1D21;
    margin: 5px;
    color: white;
}

.example > div:nth-child(2) > div:nth-child(4){
    display: flex;
    width: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.example > div:nth-child(2) > svg:nth-child(1) {
    width: 12px;
    height: 12px;
    stroke-width: 2px;
    stroke: var(--, #F08080);
}

.example > div:nth-child(2) > svg:nth-child(2) {
    width: 16px;
    height: 15.999px;
    fill: var(--, #F08080);
}

.alarm {
    display: flex;
    height: 77px;
    padding: 0px 21px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: linear-gradient(170deg, rgba(26, 29, 33, 0.00) 1.18%, rgba(239, 128, 128, 0.15) 93.12%);
    margin-bottom: 26px;
}

.alarm > div {
    display: flex;
    align-items: flex-start;
    gap: 11px;
    padding: 21px;
}

.alarm > div > div:nth-child(1) {
    display: flex;
    width: 51px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #F08080;
    background: #F08080;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.alarm > div > div:nth-child(1) > p {
    display: flex;
    color: #1A1D21 !important;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.alarm > div > div:nth-child(1) > p{
    color: #1A1D21;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}

.alarm > div > div > p:nth-child(1) {
    align-self: stretch;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.alarm > div > div > p:nth-child(2) {
    align-self: stretch;
    color: #D9D9D9;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 200% */
}

.recent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    align-self: stretch;
    max-width: 100%;
    flex-wrap: wrap;
}

.recent > div:nth-child(1) {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

.recent > div:nth-child(1) > svg {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.recent > div:nth-child(1) > p {
    display: inline-flex;
    color: #D9D9D9;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.recent > div:nth-child(2) {
    display: inline-flex;
    gap: 14px;
}

.recent > div:nth-child(2) > div {
    display: inline;
    width: 248px;
    height: 148px;
    border-radius: 10px;
    border: 1px solid #F08080;
    background: #131619;
}

.recent-content{
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 320px ;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: center;
}

.recent-content > div{
    color: white;
    border: 1px solid blue;
    padding: 10px 20px;

}

.recent-content > div > div:nth-child(1){
    color: #F08080;
    margin-bottom: 10px;
    font-weight: 700;
}

.recent-content > div > div:nth-child(2) {
    color: #D9D9D9;
    font-weight: 500;
    font-size: 13px;
}
.recomendList{
    border-radius: 10px;
    border: 1px solid #F08080;
    background: #1A1D21;
}
.recomendListButton{
    margin-left: 10px;
}