* {
    padding: 0;
    margin: 0;
}

.home {
    width: 100vw;
    height: 100vh;
    background-color: #131619;
    padding: 15px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.home-container {
    width: 76vw;
    height: 97vh;
    margin-left: 20px;
}

.community-board {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    align-self: stretch;
}

.community-board > svg {
    width: 33px;
    height: 33px;
}

.community-board > div {
    display: flex;
    width: 524px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    border-top: 1px solid var(--Glass-Stroke, rgba(255, 255, 255, 0.08));
    background: #000;
}

.community-board > div > div {
    color: var(--Noble-Black-0, #FFF);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.detail {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 30px 0px;
}

.detail > div {
    display: flex;
    width: 111px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--Glass-Stroke, rgba(255, 255, 255, 0.08));
    background: var(--Glass-Fill, linear-gradient(118deg, rgba(215, 237, 237, 0.16) -47.79%, rgba(204, 235, 235, 0.00) 100%));
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.detail > div > p {
    color: var(--Noble-Black-300, #9B9C9E);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.15px;
}

.option-card {
    display: inline-flex;
    width: 336px;
    height: 162px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    background: #000;
    padding: 15px;
    margin-right: 23px;
    margin-bottom: 23px;
}
.option{
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100% - 131px - 88px);
}