.slidebar-container{
    width: 312px;
    height: 97vh;
    box-sizing: border-box;
    background-color: #0d0f10;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.slidebar-top-content {
    width: 312px;
    max-width: 100%;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #131619;
    padding: 24px;
    box-sizing: border-box;
    flex-shrink: 0;
}
.slidebar-top-content>div>h3{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.slidebar-top-content>div>p{
    color: #f08080;
    font-size: 12px;
}
.slidebar-bottom-content{
    color: white;
    height: 190px;
    padding: 0px 10px;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #131619;
}
.slidebar-bottom-content>p{
    color: #686B6E;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 36px;
    font-weight: bolder;
}
.slidebar-bottom-content-box{
    display: flex;
    width: 296px;
    height: 48px;
    padding: 14px 16px;
    align-items: center;
    gap: 16px;
    width: 95%;
    margin-top: 24PX;
    justify-content: space-between;
    padding: 0 10px;
}
.slidebar-bottom-content-box>div:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
    font-weight: bolder;
    font-size: 12px;
}
.slidebar-bottom-content-box>div:first-child>svg{
    width: 20px;
    height: 20px;
}
.slidebar-bottom-content-box>div:last-child{
    width: 61px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(118deg, rgba(215, 237, 237, 0.16) -47.79%, rgba(204, 235, 235, 0.00) 100%);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.slidebar-bottom-content-box>div:last-child>p{
    font-size: 12px;
    font-weight: bolder;
    color: #9B9C9E;
}
.slidebar-bottom-content>div:nth-child(3){
    margin-bottom:40px
}
.slidebar-end-content{
    width: 90%;
    height: calc(100% - 360px);
    margin: 24px 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slidebar-end-content>div:nth-child(1)>p{
    font-size: 12px;
    justify-content: start;
    display: flex;
    color:#686B6E;

}
.slidebar-end-content>div:nth-child(1){
    width: 90%;
    margin-bottom: 10px;
}
.slidebar-end-content-list{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-left:10px ;
}
.slidebar-end-content-list>p{
    font-size: 14px;
    margin-left: 16px;
    font-weight: bolder;
}

.slidebar-end-content>div:nth-child(2)>div:nth-child(1){
    border-radius: 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.slidebar-bottom-content-box2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slidebar-end-content>div:nth-child(3){
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding:2px 9px;
    height: 30px;
    align-items: center;
    margin-top: 14px;
    font-size: 14px;
}
.slidebar-end-content>div:nth-child(3)>p{
    color: #686B6E;
    margin-left: 16px;
    font-weight: normal;
}
